<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.ondambackend.diary.query.mapper.DiaryMapper">
    <resultMap id="DiaryResultMap" type="com.piveguyz.ondambackend.diary.query.dto.DiaryQueryDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="created_at" property="createdAt"/>
        <result column="deleted_at" property="deletedAt"/>
        <result column="is_blinded" property="isBlinded"/>
        <result column="member_id" property="memberId"/>
    </resultMap>

    <select id="findAllDiary" resultMap="DiaryResultMap">
        SELECT
            id,
            title,
            content,
            created_at,
            deleted_at,
            is_blinded,
            member_id
        FROM diary
        WHERE isNull(deleted_at) AND is_blinded = 'N'
        ORDER BY created_at DESC;
    </select>

    <select id="findActivatedDiary" resultMap="DiaryResultMap">
        SELECT
            id,
            title,
            content,
            created_at,
            deleted_at,
            is_blinded,
            member_id
        FROM diary
        WHERE isNull(deleted_at) AND is_blinded = 'N'
        ORDER BY created_at DESC;
    </select>

    <select id="findDiaryById" resultMap="DiaryResultMap">
        SELECT
            id,
            title,
            content,
            created_at,
            deleted_at,
            is_blinded,
            member_id
        FROM diary
        WHERE isNull(deleted_at) AND is_blinded = 'N'
          AND id = #{id}
        ORDER BY created_at DESC;
    </select>

    <select id="findDiaryByMemberId" resultMap="DiaryResultMap">
        SELECT
            id,
            title,
            content,
            created_at,
            deleted_at,
            is_blinded,
            member_id
        FROM diary
        WHERE isNull(deleted_at) AND is_blinded = 'N'
        AND member_id = #{memberId}
        ORDER BY created_at DESC;
    </select>
</mapper>