<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.ondambackend.analysis.query.mapper.AnalysisResultMapper">

    <resultMap type="com.piveguyz.ondambackend.analysis.query.dto.AnalysisResultDTO" id="AnalysisResultMap">

        <id property="id" column="id"/>

        <!-- 모든 분석 결과 조회 -->
        <association property="troubleSummary"
                     javaType="com.piveguyz.ondambackend.analysis.query.dto.TroubleSummaryDTO">
            <id property="id" column="id"/>
            <result property="period" column="period"/>
            <result property="place" column="place"/>
            <result property="situation" column="situation"/>
            <result property="reason" column="reason"/>
            <result property="flow" column="flow"/>
            <result property="determination" column="determination"/>
        </association>

        <association property="effectiveStatement"
                     javaType="com.piveguyz.ondambackend.analysis.query.dto.EffectiveStatementDTO">
            <id property="id" column="id"/>
            <result property="content" column="es_content"/>
            <result property="response" column="es_response"/>
            <result property="reason" column="es_reason"/>
            <result property="result" column="es_result"/>
        </association>

        <association property="shortenedCounsel"
                     javaType="com.piveguyz.ondambackend.analysis.query.dto.ShortenedCounselDTO">
            <id property="id" column="id"/>
            <result property="emotionalChange" column="emotional_change"/>
            <result property="cognitive" column="cognitive"/>
            <result property="behavioral" column="behavioral"/>
            <result property="response" column="sc_response"/>
            <result property="recommendedDirection" column="recommended_direction"/>
        </association>
    </resultMap>

    <select id="selectAnalysisResult" resultMap="AnalysisResultMap">
        SELECT a.id,

               ts.period,
               ts.place,
               ts.situation,
               ts.reason,
               ts.flow,
               ts.determination,

               e.name AS emotion,
               ea.evidence,
               ea.reason,

               es.content AS es_content,
               es.response AS es_response,
               es.reason AS es_reason,
               es.result AS es_result,

               sc.emotional_change,
               sc.cognitive,
               sc.behavioral,
               sc.response AS sc_response,
               sc.recommended_direction
        FROM analysis a
   LEFT JOIN trouble_summary ts ON a.id = ts.analysis_id
   LEFT JOIN emotion_analysis ea ON a.id = ea.analysis_id
   LEFT JOIN emotion e ON ea.emotion_id = e.id
   LEFT JOIN effective_statement es ON a.id = es.analysis_id
        JOIN shortened_counsel sc ON a.id = sc.analysis_id
       WHERE a.counsel_id = #{counselId}
    </select>

    <select id="selectEmotionAnalysisList" resultType="com.piveguyz.ondambackend.analysis.query.dto.EmotionAnalysisDTO">
        SELECT ea.id,
               e.name AS emotion,
               ea.evidence,
               ea.reason,
               ec.name AS emotionCategoryName
        FROM emotion_analysis ea
        JOIN emotion e ON ea.emotion_id = e.id
        JOIN emotion_category ec ON e.emotion_category_id = ec.id
       WHERE ea.analysis_id = #{analysisId}
    </select>
</mapper>
