<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.ondambackend.member.query.mapper.MemberMapper">
    <resultMap id="MemberResultMap" type="com.piveguyz.ondambackend.member.query.dto.MemberQueryDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <result column="created_at" property="createdAt"/>
        <result column="deleted_at" property="deletedAt"/>
        <result column="phone" property="phone"/>
        <result column="profile_image_url" property="profileImageUrl"/>
        <result column="address" property="address"/>
        <result column="point" property="point"/>
        <result column="authority" property="authority"/>
        <result column="is_banned" property="isBanned"/>
        <result column="is_diary_blocked" property="isDiaryBlocked"/>
    </resultMap>

    <select id="findAllMembers" resultMap="MemberResultMap">
        SELECT *
        FROM member;
    </select>

    <select id="findMemberById" resultMap="MemberResultMap">
        SELECT * FROM member
        WHERE id = #{id} AND deleted_at IS NULL
    </select>

    <select id="findMemberByNameAndPhone" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE name = #{name}
          AND phone = #{phone}
          AND deleted_at IS NULL
    </select>

    <select id="findMemberByNameAndEmail" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE name = #{name}
          AND email = #{email}
          AND deleted_at IS NULL
    </select>

    <select id="login" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE email = #{email}
          AND password = #{password}
          AND deleted_at IS NULL
    </select>

    <select id="findMemberByEmailAndPassword" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE email = #{email}
          AND password = #{password}
          AND deleted_at IS NULL
    </select>

</mapper>